@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-dm-sans), sans-serif;
  color: #f5f4f0;
  background-color: #1a1a2e;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playfair-display), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
